body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
  
}
nav a{
  padding-left: 10px;
  padding-right: 10px;
  background-color: gray;
}
#featured-property p{
  justify-content: center;
  text-align: center;
  width: 800px;
  font-family: Sans-Serif;
  font-size: 15px;
  margin-left: 300px;
  margin-right: 400px;
}

#details {
  width: 100%;
  background-color: red;
  max-height: 200px;
}

#details div{
  display: inline-block;
  padding-left: 100px;
  padding-right: 100px;
}