body {
  
}
h1 {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav{
  text-align: center;
}

a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #C5D3D9;
}

figure > figcaption {
  font-size: 12px;
  text-align: center;
}

#feature-property, p {
  width: 800px;
  text-align: center;
}